<div class="navbar">
    <div class="left">
        <a href="http://localhost/petshop/"><img src="./src/img/assets/logo_petshop.png" alt="logo petshop"></a>
    </div>
    <div class="middle">
        <ul>
            <li><a href="./adoption/">Adoptions</a></li>
            <li><a href="#">Séparations</a></li>
            <li class="user"><a href="profile.html?pof=keko"><img src="./src/img/users_image/user_keko.png"
                        alt="..."></a></li>
        </ul>
    </div>
</div>