@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Regular"), url("Segoe UI.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Italic"), url("Segoe UI Italic.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold"), url("Segoe UI Bold.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold Italic"), url("Segoe UI Bold Italic.woff") format("woff");
}

:root {
  --basic_font: "Poppin", sans-serif;
  --wfont: "Courgette", cursive;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.signup {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup .main-container {
  overflow: hidden;
  border: 1px solid gray;
  border-radius: 5px;
  width: 30%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.signup .main-container .up-container {
  position: relative;
  text-align: center;
}

.signup .main-container .up-container a {
  width: 20vw;
  position: absolute;
  top: -8vh;
  left: -10vw;
  text-decoration: none;
}

.signup .main-container .up-container a img {
  width: 65%;
}

.signup .main-container .iscv {
  margin-top: 50px;
  font-family: var(--basic_font);
  font-size: 25px;
  font-weight: 900;
}

.signup .main-container .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.signup .main-container .container form {
  width: 100%;
  min-height: 20rem;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.signup .main-container .container form .formgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
}

.signup .main-container .container form .formgroup input {
  font-family: var(--basic_font);
  width: 90%;
  height: 2.3rem;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 5px;
}

.signup .main-container .container form .submit {
  cursor: pointer;
  border: none;
  width: 70%;
  height: 2.3rem;
  background: orangered;
  color: white;
  font-weight: 600;
  font-family: var(--basic_font);
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 15px;
}

.signup .main-container .containers {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.signup .main-container .containers form {
  width: 100%;
  min-height: 20rem;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.signup .main-container .containers form .formgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
}

.signup .main-container .containers form .formgroup input {
  font-family: var(--basic_font);
  width: 90%;
  height: 2.3rem;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 5px;
}

.signup .main-container .containers form .submit {
  cursor: pointer;
  border: none;
  width: 70%;
  height: 2.3rem;
  background: orangered;
  color: white;
  font-weight: 600;
  font-family: var(--basic_font);
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 15px;
}

.signup .main-container .down-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.signup .main-container .down-container a {
  margin-top: 7px;
  text-decoration: none;
  color: gray;
  font-family: var(--basic_font);
  font-weight: 500;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 90px;
  overflow: hidden;
}

.navbar .left a img {
  width: 55%;
  margin-top: 15px;
}

.navbar .middle {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.navbar .middle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.navbar .middle ul li a {
  font-family: var(--basic_font);
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.navbar .middle ul .user {
  width: 40px;
  height: 40px;
}

.navbar .middle ul .user a img {
  border-radius: 50%;
  width: 100%;
}

.body .background-image {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.body .main-info {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.body .main-info .text {
  font-size: 18px;
  font-family: var(--basic_font);
  margin-top: 15px;
}

.body .start {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.body .start .cms {
  width: 100%;
}

.body .start .cms .adopt {
  margin: 25px 0 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.body .start .cms .adopt button {
  border: none;
  background: orangered;
  color: azure;
  width: 70%;
  height: 2.3rem;
  border-radius: 5px;
  font-family: var(--basic_font);
  font-weight: 600;
}

.body .start .lastanimals {
  margin-top: 25px;
  width: 66%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  border-radius: 5px;
}

.body .start .lastanimals .card {
  width: 15rem;
  height: 15rem;
  border-radius: 5px;
}

.body .start .lastanimals .card .image {
  position: relative;
  overflow: hidden;
}

.body .start .lastanimals .card .image img {
  width: 240px;
  height: 160px;
  border-radius: 5px;
  width: 100%;
}

.body .start .lastanimals .card .image .info {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 15px 0 0 15px;
}

.body .start .lastanimals .card .image .info p {
  color: white;
  text-shadow: 1px 3px 3px black;
  font-family: var(--basic_font);
  font-weight: 600;
}

.body .start .lastanimals .card .adopme {
  text-align: center;
  width: 100%;
  background: orangered;
  border-radius: 5px;
  height: 2rem;
  line-height: 2rem;
}

.body .start .lastanimals .card .adopme a {
  text-decoration: none;
  cursor: pointer;
  border: none;
  color: white;
  height: 2rem;
  font-family: var(--basic_font);
  font-weight: 600;
}

.adopteme {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.adopteme .title {
  color: black;
  font-family: var(--basic_font);
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 25px;
}

.adopteme .list {
  max-width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.adopteme .list .card {
  width: 15rem;
  height: 15rem;
  border-radius: 5px;
}

.adopteme .list .card .image {
  position: relative;
  overflow: hidden;
}

.adopteme .list .card .image img {
  width: 240px;
  height: 160px;
  border-radius: 5px;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.adopteme .list .card .image img:hover {
  width: 102%;
  height: 162px;
}

.adopteme .list .card .image .info {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 15px 0 0 15px;
}

.adopteme .list .card .image .info p {
  color: white;
  text-shadow: 1px 3px 3px black;
  font-family: var(--basic_font);
  font-weight: 600;
}

.adopteme .list .card .adopme {
  text-align: center;
  width: 100%;
  background: orangered;
  border-radius: 5px;
  height: 2rem;
  line-height: 2rem;
}

.adopteme .list .card .adopme a {
  text-decoration: none;
  cursor: pointer;
  border: none;
  color: white;
  height: 2rem;
  font-family: var(--basic_font);
  font-weight: 600;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #fff;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.wrapper .add_animals {
  background: black;
  color: white;
  text-decoration: none;
  top: 25px;
  left: 25px;
  padding: 15px 55px 15px 55px;
  position: absolute;
  border-radius: 5px;
}

.wrapper .contentTable {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
}

.wrapper .contentTable .TableHead {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 100px;
}

.wrapper .contentTable .TableHead .contentTableHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 17%;
}

.wrapper .contentTable .TableHead .contentTableHead p {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  font-family: var(--fonts);
}

.wrapper .contentTable .TableBody {
  margin-top: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.wrapper .contentTable .TableBody .corp {
  margin-bottom: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  border-bottom: 2px solid #000;
  margin-top: 10px;
}

.wrapper .contentTable .TableBody .corp .contentTableBody {
  margin-bottom: 25px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 17%;
}

.wrapper .contentTable .TableBody .corp .contentTableBody.btnD {
  position: relative;
  height: 100%;
}

.wrapper .contentTable .TableBody .corp .contentTableBody.admin #deleteUser {
  background: #42f551;
}

.wrapper .contentTable .TableBody .corp .contentTableBody.admin #deleteUser:hover {
  color: white;
  background: var(--colorRedB);
}

.wrapper .contentTable .TableBody .corp .contentTableBody p {
  color: var(--colorBlack);
  font-size: 17px;
  font-weight: 300;
  font-family: var(--fonts);
}

.wrapper .contentTable .TableBody .corp .contentTableBody #deleteUser,
.wrapper .contentTable .TableBody .corp .contentTableBody #editUser {
  cursor: pointer;
  text-decoration: none;
  background: red;
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
  overflow: hidden;
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  font-family: var(--fonts);
  -webkit-transition: color 0.3s, background 0.4s;
  transition: color 0.3s, background 0.4s;
}

.wrapper .contentTable .TableBody .corp .contentTableBody #deleteUser:hover,
.wrapper .contentTable .TableBody .corp .contentTableBody #editUser:hover {
  color: white;
  background: #000;
}

.wrapper .contentTable .TableBody .corp .contentTableBody #editUser {
  margin-left: 14px;
  background: orangered;
}

.wrapper .contentTable .TableBody .corp .contentTableBody #editUser:hover {
  color: white;
  background: #000;
}
/*# sourceMappingURL=style.css.map */