.body {
  .background-image {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }
  .main-info {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    .text {
      font-size: 18px;
      font-family: var(--basic_font);
      margin-top: 15px;
    }
  }
  .start {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    .cms {
      width: 100%;
      .adopt {
        margin: 25px 0 25px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        button {
          border: none;
          background: orangered;
          color: azure;
          width: 70%;
          height: 2.3rem;
          border-radius: 5px;
          font-family: var(--basic_font);
          font-weight: 600;
        }
      }
    }
    .lastanimals {
      margin-top: 25px;
      width: 66%;
      height: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-flow: row nowrap;
      border-radius: 5px;
      .card {
        width: 15rem;
        height: 15rem;
        border-radius: 5px;
        .image {
          position: relative;
          overflow: hidden;
          img {
            width: 240px;
            height: 160px;
            border-radius: 5px;
            width: 100%;
          }
          .info {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-flow: column nowrap;
            margin: 15px 0 0 15px;
            p {
              color: white;
              text-shadow: 1px 3px 3px black;
              font-family: var(--basic_font);
              font-weight: 600;
            }
          }
        }
        .adopme {
          text-align: center;
          width: 100%;
          background: orangered;
          border-radius: 5px;
          height: 2rem;
          line-height: 2rem;
          a {
            text-decoration: none;
            cursor: pointer;
            border: none;
            color: white;
            height: 2rem;
            font-family: var(--basic_font);
            font-weight: 600;
          }
        }
      }
    }
  }
}
